 <div class="user-details">
   <h1>«¡Hola, mundo!»</h1>
</div>

<section id="CV">
  <div class="Resume">


<p>Te preguntarás quién soy, qué hago y todo eso.</p>
   
<p>En resumen, soy una freelance que se especializa en la producción y mejora de contenidos escritos. Me concentro en STEM (acrónimo de los términos en inglés Science, Technology, Engineering and Mathematics). Ahora trabajo para LinkedIn Learning, la red de cursos de formación profesional de Microsoft, entre otros clientes que podrás encontrar en mi CV. </p>
<p>Bueno, ahora va la versión larga...</p>
   
<p>&nbsp;</p>  
   
<p>Empecé a escribir en Internet en el 2009. Tenía un blog que, contra todo pronóstico, se hizo razonablemente famoso. Mi carrera empezó con ese accidente.</p>
<p>Aproveché ese accidente y escribí un libro digital (ya retirado) que llegó al top ventas de su categoría en Amazon.</p>
<p>En el intermedio, me saqué un doble grado Turismo - ADE, pero solo acabé Turismo. Dicho sea de paso, después de graduarme nunca trabajé en el turismo pero, al menos, me valió hablar varios idiomas. En ese tiempo también me saqué varias titulaciones de corrección y gramática para que mi capacidad para la escritura general y el copywriting siguiera creciendo.</p>
<p>Después hice un superior de DAM. Tenía sentido. Exploro todo lo que tenga que ver con tecnología desde que puedo recordarlo. Me gustan las redes, las máquinas virtuales, la informática y la ciberseguridad. Además, «hablo» más lenguajes para máquinas que para personas, que se dice suave. He creado más productos tecnológicos de los que puedo contabilizar. Nos llevaría un día entero hablar sobre eso si me das cuerda.</p>
<p>De todas formas, seguí amando más escribir que programar y, la verdad, también fue lo más rentable. He escrito en algunos de los medios digitales hispanohablantes más leídos de la red. He conseguido más virales de los planeados y contactado con personas increíbles de todo el globo. Tengo o he tenido clientes en Estados Unidos, Austria, Reino Unido, España y Latinoamérica.  Normalmente trabajo en remoto, pero cuando toca simplemente viajo mucho. En general, digamos que he hecho muchos amigos.</p>

<p>Y aquí sigo. Produciendo contenido por y para Internet.</p>

<p>Si quieres hablar directamente conmigo me puedes enviar un correo electrónico o buscarme en las redes sociales, pero ten en cuenta que me escribe bastante gente, por ello, solo responderé a aquellas propuestas que se ajusten a mis horarios e intereses. </p>

Gracias por pasarte.
<p>&nbsp;</p>
</div>
