 <div class="user-details">
   <h1>_></h1>
</div>

<section id="CV">
  <div class="Resume">


<p>Hi, my name is Victoria, Im based on Spain and I am the proof that a woman of letters can also be a science woman. </p> 
 
<p>I am a specialist in Spanish grammar, but also a multiplatform developer. Then, I specialize in the production and improvement of content in the STEAM field.</p> 

<p>What do I do for a living? </p> 
   
<p>In short, I fix problems on and for the Internet. I’m a reporter and proofreader for digital media and brands focused on technology, I work sometimes with scientist communicators. I provide consulting and assistance services, copywriting and ghostwriting, documentation, translation, data research, and reports... I also am a trainer focused on Hispanic philology, comumication and artificial intelligence. In general, I make and/or improve content because I think information is power, and I want everyone to have that power.</p>
   
<p>If you think I can be of help in your projects or those of your company, you can write me an email or look for me on social networks. </p>

<p>&nbsp;</p>
