<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
        <img style="max-width: 100%;" id="logo" alt="logo" src="https://dl.dropboxusercontent.com/s/9u9uvcjknqse7dp/vp_logo_blanco_2650x1000.png?dl=0" />
      </h1>
      <div class="header-icons">
        <a aria-label="MyLinkedIn" target="_blank" href="https://www.linkedin.com/in/victoria-%C3%A1ngela-p-836a13157/"><i class="icon fa fa-linkedin"></i></a>
        <a aria-label="Send email" href="mailto:holavictoria@icloud.com"><i class="icon fa fa-at"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/__victoriap"><i class="icon fa fa-twitter"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>ABOUT</a>
        <a class="link" href="#projects" data-scroll>FOLLOW</a>
       <!-- <a href="https://victoriaperez.me/books>BOOKS</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
