<div class="user-details">
  <h1> _Mis clientes: </h1>
</div>

<div class="Resume">

</div>

</section>
  <div class="user">
    <div class="tech">
      <h2></h2>
      <i class="fa fa-align-left"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2></h2>
      <i class="fa fa-code"></i>
      <p><p>◉ Hipertextual (2016 - 2017). </p>
<p>◉ Gizmodo en Español (2017 - 2018).</p>
<p>◉ Vice España (2018). </p>
<p>◉ Xataka  Weblogs SL (2018).</p>
<p>◉ Vector Divulgación (2018 - actualidad). </p> 
<p>◉ LinkedIn Learning (2019 - actualidad).</p>
<p>◉ Macnificos (2020 - actualidad).</p></p>
    </div>
    <div class="tech">
      <h2></h2>
      <i class="fa fa-check"></i>
      <p></p>
    </div>
</div>
