<div class="user-details">
  <h1> _My clients: </h1>
</div>

<div class="Resume">
<center>
 <p>_ <a href="https://hipertextual.com/author/victoriaperez" target="_blank">Hipertextual (2016 - 2017)</a>.</p>
  <p>_ <a href="https://es.gizmodo.com/?s=Victoria+P%C3%A9rez" target="_blank">Gizmodo en Español (2017 - 2018)</a>.</p>
  <p>_ <a href="https://www.vice.com/es/contributor/victoria-perez/" target="_blank">Vice España (2018)</a>.</p>
 <p>_ <a href="https://www.xataka.com/autor/victoria-perez" target="_blank">Xataka Weblogs SL (2018)</a>.</p>
  <p>_ <a href="https://vectordivulgacion.com/" target="_blank">Vector Divulgación (2018 - 2020)</a>.</p>
  <p>_ <a href="https://www.linkedin.com/learning/instructors/victoria-angela-perez-aneiros?u=0" target="_blank">LinkedIn Learning (2019 - actualidad)</a>.</p>
  <p>_ <a href="https://www.macnificos.com/blog/magsafe-que-es-como-funciona" target="_blank">Macnificos (2020 - 2021)</a>.</p>
</center>

</div>

</section>
  
