<div class="user-details">
  <h1> _ About me: </h1>
</div>

<div class="Resume">
<p>◉ He aparecido en algunas entrevistas. Sobre todo me preguntan en referencia al minimalismo porque soy minimalista desde el 2009. <a href='https://www.vice.com/es/article/59z59n/minimalistas-millennials-espana'>Esta es la última que recuerdo</a>, pero actualizaré si publican algo más.</p>
<p>◉ Hablo tres idiomas. En orden de fluidez: español, inglés y alemán; y por escrito entiendo el coreano.</p>
<p>◉ Estudié un Superior en Desarrollo de Aplicaciones Multiplataforma. Como programadora dejo mucho que desear, pero si tengo que posicionarme... ¡abajo Java y larga vida a Python!</p>
<p>◉ En la universidad estudié un doble grado Turismo - ADE, pero solo acabé Turismo. Dicho sea, después de graduarme nunca trabajé en el turismo; a no ser que hacer turismo propiamente cuente como trabajo de campo.</p>
<p>◉ Siempre estoy dispuesta a  <a href='http://paypal.me/VictoriaPerezA'>mendigar un café</a>.</p>


</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/hey.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> NEWSLETTER </h3>
  <p>Hago esporádicamente boletines personales que envío por email; puedes darte de alta y unirte a mis otros mil y pico amigos.</p>
  <p>La verdad, no escribo muy a menudo y puede tardar en llegarte algo pero, al menos, no hago promocionados ni mando spam. Piénsatelo, hoy en día es una buena oferta.</p>

    <a class="project-link" href="http://eepurl.com/b_KKS9">Suscribirme</a>
  </div>

  </div>
</div>
<div class="user-projects">
 </div>
