<section id="CV">
  <div class="Resume">

<p>Soy una redactora para medios de prensa y marcas, y correctora ortotipográfica para clientes independientes.</p>
<p>Proveo servicios integrales para materiales escritos, y tengo experiencia en toda la cadena de montaje de todo tipo de textos.</p>
<p>Desde la  creación a la maquetación y publicación, pasando por la traducción, curación del contenido y la asesoría sobre sintaxis, morfología y estilo.</p>
<p>◉ He escrito en varios periódicos digitales hispanohablantes; por ejemplo <a href='https://hipertextual.com/autor/victoriaperez'>aquí</a>, <a href='https://kinja.com/vperez#_ga=2.88450715.1088610938.1507534348-603415837.1499463999'>aquí</a>, <a href='https://www.xataka.com/autor/victoria-perez'>aquí</a> o <a href='https://www.vice.com/es/contributor/victoria-perez'>aquí</a> tienes una muestra. </p>
<p>◉ También trabajo con empresas de corrección, <a href='https://vectordivulgacion.com/'>aquí</a> tienes un ejemplo. </p>
<p>◉ En cuanto a marcas, ahora mismo trabajo para LinkedIn Learning como <em>vendor</em>.</p>
<p>En general, digamos que soy una profesional multidisciplinar que encuentra, analiza y soluciona problemas sobre los contenidos que se crean por y para Internet. Llevo en esto nueve años.</p>
<p>Si bien trabajo igualmente con productoras de ciencia como con clientes del sector IT, mi diferenciación es que me especializo en las ramas técnicas. </p>
<p>Se dio la provechosa situación para mí de que los especialistas en lengua no suelen tener los suficientes conocimientos especializados para ser útiles en los sectores técnicos.  Y, a su vez, los especialistas de estos sectores suelen querer perfeccionar sus escritos. Yo vine a completar ese hueco.</p>
<p>&nbsp;</p>

</div>
  </section>
